/.idea/
*.pyc
*.db
/project/
/dist
*.egg-info
.DS_Store
/build
*#
*~
.coverage*
/htmlcov/
*.orig
tmp
venv/
.venv/
.tox/
node_modules/
explorer/static/
# Sphinx documentation
docs/_build/
.env
tst
tst2
user_dbs/*
tmp2
chinook.sqlite
model_data.json
