language: python
python:
  - 2.7
  - 3.5
  - 3.6
  - 3.7
  - 3.8
install:
  - pip install ${DJANGO}
  - pip install -r requirements.txt
  - pip install -r optional-requirements.txt

script:  python manage.py test
env:
  - DJANGO="Django==1.11.*"
  - DJANGO="Django==2.0.*"
  - DJANGO="Django==2.1.*"
matrix:
  exclude:
    - python: 2.7
      env: DJANGO="Django==2.0.*"
    - python: 2.7
      env: DJANGO="Django==2.1.*"
