.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wf-loading {
  visibility: hidden;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Resets specifically for Charted */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.dark {
  background-color: black;
  color: #b3b3b1;
}
button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}
/* mobile browser input styling */
input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  outline: none;
}
.chart-info {
  padding: 12px;
  position: relative;
  width: 100%;
}
.chart-description {
  font-size: 14px;
  line-height: 1.2;
  padding: 20px;
  text-align: center;
}
.info-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease, opacity 0.2s ease;
  -moz-transition: background-color 0.3s ease, opacity 0.2s ease;
  -ms-transition: background-color 0.3s ease, opacity 0.2s ease;
  -o-transition: background-color 0.3s ease, opacity 0.2s ease;
  transition: background-color 0.3s ease, opacity 0.2s ease;
  overflow: hidden;
  padding: 8px;
}
.info-input:hover,
.info-input:focus {
  background-color: #f9f9f7;
}
.dark .info-input:hover,
.dark .info-input:focus {
  background-color: #333332;
}
.dark .info-input::before {
  color: #666665;
  opacity: 1;
}
.title {
  color: #333332;
  font-size: 24px;
}
.dark .title {
  color: white;
}
.note {
  color: #b3b3b1;
}
.dark .note {
  color: #666665;
}
.empty.note {
  display: none;
  opacity: 0;
}
.active .empty.note {
  opacity: 1;
}
.note::before {
  color: #b3b3b1;
  content: "add a note";
  display: none;
  opacity: 0.5;
  width: 100%;
}
.empty.note::before {
  display: block;
}
.note:focus::before {
  display: none;
}
@media screen and (min-width: 800px) {
  .chart-info {
    height: 100%;
    right: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 200px;
  }
  .chart-description {
    padding: 16px 10px 8px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    width: 200px;
    z-index: 2;
  }
  .empty.note {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .chart-info {
    width: 200px;
  }
  .chart-description {
    font-size: 18px;
    width: 200px;
  }
  .title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .chart-grid .chart-info {
    width: 200px;
  }
  .chart-grid .chart-description {
    font-size: 14px;
    width: 200px;
  }
  .chart-grid .title {
    font-size: 24px;
  }
}
.chart-options {
  font-size: 0;
  margin: 0 auto 10px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .chart-options {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    bottom: 0;
    opacity: 0;
    margin: 0;
    position: absolute;
    text-align: right;
    right: 4px;
  }
  .active .chart-options {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 1;
  }
}
.pre-load .chart {
  display: none;
}
.chart-wrapper {
  float: left;
  overflow: hidden;
  position: relative;
}
.chart-wrapper ~ .chart-wrapper {
  border-top: 4px solid #f9f9f7;
}
.chart-grid .chart-wrapper:nth-child(2n+1) {
  border-right: 4px solid #f9f9f7;
}
.chart-grid .chart-wrapper {
  border-bottom: 4px solid #f9f9f7;
}
.dark .chart-wrapper ~ .chart-wrapper {
  border-top: 4px solid #232322;
}
.dark.chart-grid .chart-wrapper:nth-child(2n+1) {
  border-right: 4px solid #232322;
}
.dark.chart-grid .chart-wrapper {
  border-bottom: 4px solid #232322;
}
.chart-grid .chart-wrapper.bottom-row,
.dark.chart-grid .chart-wrapper.bottom-row {
  border-bottom: none;
}
.chart-grid .chart-wrapper ~ .chart-wrapper,
.dark.chart-grid .chart-wrapper ~ .chart-wrapper {
  border-top: none;
}
.chart-plot-outer-container {
  height: 360px;
  font-size: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.chart-plot-inner-container {
  bottom: 0;
  left: 44px;
  position: absolute;
  right: 0;
  top: 0;
}
.chart-height {
  bottom: 44px;
  position: absolute;
  top: 100px;
}
.chart-plot {
  width: 100%;
  z-index: 2;
}
.zero-line-container {
  left: 0;
  width: 100%;
}
.zero-line {
  border-top: 1px solid #f2f2f0;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 100%;
}
.zero-line.hidden {
  display: none;
}
.dark .zero-line {
  border-top: 1px solid #333332;
}
.x-axis {
  border-top: 1px solid #f2f2f0;
  bottom: 0;
  color: #666665;
  font-size: 12px;
  height: 44px;
  left: 0;
  padding: 15px 8px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.dark .x-axis {
  border-top: 1px solid #333332;
  color: #b3b3b1;
}
.x-beginning {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  float: left;
  opacity: 1;
  padding: 0 30px 0 0;
}
.x-end {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  float: right;
  opacity: 1;
  padding: 0 0 0 30px;
}
.hidden.x-beginning,
.hidden.x-end {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
}
.line {
  fill: none;
  opacity: 0.9;
  stroke-width: 1.5px;
}
.line.focused {
  opacity: 1;
  stroke-width: 2.5px;
}
.column,
.selected-column,
.show-columns .line,
.show-columns .end-dot,
.show-columns .selected-dot {
  display: none;
}
.column {
  opacity: 0.9;
}
.column.selected {
  opacity: 1;
}
.show-columns .column {
  display: inline;
}
@media screen and (min-width: 400px) {
  .chart-plot-outer-container {
    height: 420px;
  }
  .x-axis {
    font-size: 14px;
  }
  .line {
    stroke-width: 2px;
  }
  .line.focused {
    stroke-width: 3px;
  }
}
@media screen and (min-width: 800px) {
  .chart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 200px;
  }
  .chart::after {
    border-top: 1px solid #f2f2f0;
    bottom: 44px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .dark .chart::after {
    border-top: 1px solid #333332;
  }
  .chart-plot-outer-container {
    border: none;
    height: 100%;
  }
  .x-axis,
  .dark .x-axis {
    border-top: none;
  }
}
@media screen and (min-width: 1200px) {
  .chart {
    padding-right: 200px;
  }
  .chart-height {
    top: 120px;
  }
  .line {
    stroke-width: 2.5px;
  }
  .line.focused {
    stroke-width: 3.5px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .chart-grid .chart {
    padding-right: 200px;
  }
  .chart-grid .chart-height {
    top: 100px;
  }
}
.selection {
  background-color: #dededc;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
.dark .selection {
  background-color: #333332;
}
.selection-info {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
  margin: 0 0 0 -200px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 200px;
}
.on-right .selection-info {
  text-align: left;
  margin: 0 0 0 100%;
}
.selection-xlabel,
.selection-ylabel {
  color: #666665;
  font-size: 14px;
  padding: 0 14px;
  width: 100%;
}
.dark .selection-xlabel,
.dark .selection-ylabel {
  color: #b3b3b1;
}
.selection-value {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
  line-height: 1.1;
  margin: 16px 0 0 0;
  padding: 0 14px;
}
.selection-xlabel {
  bottom: 0;
  height: 44px;
  padding: 16px 14px 0;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 800px) {
  .selection-info {
    margin: 0 0 0 -300px;
    width: 300px;
  }
  .selection-value {
    font-size: 72px;
    line-height: 0.9;
  }
  .half-height .selection-value {
    font-size: 60px;
  }
  .selection-xlabel {
    padding-top: 15px;
  }
  .selection-ylabel {
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) and (min-height: 1000px) {
  .half-height .selection-value {
    font-size: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .chart-grid .selection-value {
    font-size: 60px;
  }
  .selection-ylabel {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) and (min-height: 1000px) {
  .selection-value {
    font-size: 100px;
  }
  .chart-grid .selection-value {
    font-size: 72px;
  }
}
.y-axis-container {
  bottom: 0;
  border-right: 1px solid #f2f2f0;
  left: -44px;
  position: absolute;
  top: 0;
  width: 44px;
}
.y-axis {
  left: 0;
  z-index: 2;
  width: 100%;
}
.y-axis-label {
  background-color: white;
  color: #b3b3b1;
  font-size: 14px;
  right: 0px;
  margin-top: -6px;
  padding: 0 8px;
  position: absolute;
  text-align: right;
}
.y-axis-label:after {
  background-color: #f2f2f0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: 3px;
  top: 5px;
}
.dark .y-axis-container {
  border-right: 1px solid #333332;
}
.dark .y-axis-label {
  color: #666665;
  background-color: black;
}
.dark .y-axis-label:after {
  background-color: #333332;
}
.option-item {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid #dededc;
  display: inline-block;
  font-size: 0;
  height: 30px;
  margin: 7px 3px;
  position: relative;
  width: 30px;
}
.option-item.settings {
  height: 34px;
  margin: 0px;
  width: 34px;
}
.option-item .icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  height: 100%;
  opacity: 0.4;
  width: 100%;
}
.option-item:hover {
  border: 1px solid #666665;
}
.option-item:hover .icon {
  opacity: 0.8;
}
.dark .option-item {
  border: 1px solid #666665;
}
.dark .option-item .icon {
  opacity: 0.6;
}
.dark .option-item:hover {
  border: 1px solid #b3b3b1;
}
.dark .option-item:hover .icon {
  opacity: 1;
}
.option-item.none {
  display: none;
}
.option-item .icon-line,
.option-item .icon-round-on,
.show-columns .icon-column,
.rounding-off .icon-round-off {
  display: none;
}
.show-columns .option-item .icon-line,
.rounding-off .option-item .icon-round-on {
  display: inline-block;
}
.icon-column {
  background-image: url(images/icon-column.svg);
}
.dark .icon-column {
  background-image: url(images/icon-column-white.svg);
}
.icon-color {
  background-image: url(images/icon-color.svg);
}
.dark .icon-color {
  background-image: url(images/icon-color-white.svg);
}
.icon-download {
  background-image: url(images/icon-download.svg);
}
.dark .icon-download {
  background-image: url(images/icon-download-white.svg);
}
.icon-line {
  background-image: url(images/icon-line.svg);
}
.dark .icon-line {
  background-image: url(images/icon-line-white.svg);
}
.icon-round-on {
  background-image: url(images/icon-round-on.svg);
}
.dark .icon-round-on {
  background-image: url(images/icon-round-on-white.svg);
}
.icon-round-off {
  background-image: url(images/icon-round-off.svg);
}
.dark .icon-round-off {
  background-image: url(images/icon-round-off-white.svg);
}
.icon-settings {
  background-image: url(images/icon-settings.svg);
}
.dark .icon-settings {
  background-image: url(images/icon-settings-white.svg);
}
.icon-move {
  background-image: url(images/icon-move.svg);
}
.dark .icon-move {
  background-image: url(images/icon-move-white.svg);
}
.icon-plus {
  background-image: url(images/icon-plus.svg);
}
.dark .icon-plus {
  background-image: url(images/icon-plus-white.svg);
}
.icon-back {
  background-image: url(images/icon-back.svg);
}
.dark .icon-back {
  background-image: url(images/icon-back-white.svg);
}
.legend {
  font-size: 14px;
  padding: 8px 0 20px;
  width: 100%;
}
.legend.hidden {
  display: none;
}
.legend-item {
  padding: 0 42px 0 0;
  position: relative;
}
.legend-label {
  position: relative;
}
.legend-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  overflow: hidden;
  padding: 5px 0 5px 26px;
  width: 100%;
}
.legend-box {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  height: 11px;
  left: 8px;
  position: absolute;
  top: 6px;
  width: 11px;
}
.move-chart {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  right: 9px;
  top: -2px;
}
.move-chart .icon {
  display: inline-block;
  height: 30px;
  width: 30px;
}
.legend-item:hover .legend-input,
.legend-item .legend-input:focus,
.legend-item.active .legend-input {
  background-color: #f9f9f7;
}
.dark .legend-item:hover .legend-input,
.dark .legend-item .legend-input:focus,
.dark .legend-item.active .legend-input {
  background-color: #232322;
}
.legend-item:hover .move-chart {
  opacity: 0.15;
}
.legend-item.active .move-chart,
.legend-item:hover .move-chart:hover {
  opacity: 0.8;
}
.dark .legend-item:hover .move-chart {
  opacity: 0.4;
}
.dark .legend-item.active .move-chart,
.darl .legend-item:hover .move-chart:hover {
  opacity: 1;
}
.move-chart-options.popover {
  bottom: 40px;
  right: 2px;
}
.move-chart-option {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: none;
  color: #333332;
  display: block;
  font-size: 16px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}
.move-chart-option:hover {
  background-color: #f9f9f7;
}
.dark .move-chart-option {
  color: #dededc;
}
.dark .move-chart-option:hover {
  background-color: #333332;
}
.move-chart-option.move-to-new-chart {
  padding-left: 30px;
}
.move-chart-option .icon {
  display: block;
  height: 26px;
  left: 3px;
  opacity: 0.8;
  position: absolute;
  top: 2px;
  width: 26px;
}
@media screen and (min-width: 800px) {
  .legend,
  .dark .legend {
    bottom: 40px;
    left: 0;
    padding: 6px 10px 24px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .legend {
    font-size: 18px;
  }
  .legend-input {
    min-height: 30px;
    padding: 6px 0 6px 30px;
  }
  .legend-box {
    height: 13px;
    top: 9px;
    width: 13px;
  }
  .move-chart {
    top: -1px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .chart-grid .legend {
    font-size: 14px;
  }
  .chart-grid .legend-input {
    min-height: 0px;
    padding: 5px 0 5px 26px;
  }
  .chart-grid .legend-box {
    height: 11px;
    top: 6px;
    width: 11px;
  }
  .chart-grid .move-chart {
    top: -2px;
  }
}
.pre-load .page-title,
.pre-load .page-subtitle,
.pre-load .load-data-form,
.pre-load footer {
  display: block;
}
.page-title {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 900;
  font-style: normal;
  color: #333332;
  display: none;
  font-size: 18px;
  letter-spacing: 0.3rem;
  margin: 45px 0 6px;
  text-align: center;
  text-transform: uppercase;
}
.page-subtitle {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 200;
  font-style: normal;
  color: #666665;
  display: none;
  font-size: 18px;
  text-align: center;
}
.load-data-form {
  display: none;
  margin: 90px 5% 100px;
  padding: 0 62px 0 0;
  position: relative;
  width: 90%;
}
.data-file-input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 200;
  font-style: normal;
  background-color: transparent;
  border: 1px solid #b3b3b1;
  border-width: 1px 0 1px 1px;
  color: #333332;
  font-size: 24px;
  height: 60px;
  padding: 0 0 0 16px;
  width: 100%;
}
.data-file-input::-webkit-input-placeholder {
  color: #dededc;
}
.data-file-input:-moz-placeholder {
  color: #dededc;
}
.data-file-input::-moz-placeholder {
  color: #dededc;
}
.data-file-input:-ms-input-placeholder {
  color: #dededc;
}
.data-file-input::light {
  color: #333332;
}
.submit {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 900;
  font-style: normal;
  background-color: transparent;
  border: 1px solid #b3b3b1;
  color: #333332;
  display: block;
  font-size: 24px;
  letter-spacing: 0.05rem;
  text-align: center;
  text-transform: uppercase;
}
.submit:hover {
  border: 1px solid #232322;
  background-color: #232322;
  color: white;
}
.submit,
.loading-spinner {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 62px;
}
.loading-spinner {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #232322;
  display: none;
}
.loading-spinner-img {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: block;
  margin: 6px auto 0;
  width: 50px;
}
.loading .loading-spinner {
  display: block;
}
.error .error-message {
  color: #ff8150;
  font-size: 18px;
  left: 0;
  line-height: 1.2;
  margin: 14px 5%;
  position: absolute;
  top: 100%;
  text-align: center;
  width: 90%;
}
footer {
  display: none;
  font-size: 16px;
  padding: 0 0 35px;
  text-align: center;
  width: 100%;
}
footer a {
  color: #666665;
  text-decoration: none;
}
footer a ~ a:before {
  color: #b3b3b1;
  content: "\2022";
  margin: 0 10px;
}
footer a:hover {
  color: #333332;
}
@media screen and (min-width: 800px) {
  .page-title {
    font-size: 24px;
    margin: 60px 0 10px;
  }
  .page-subtitle {
    font-size: 24px;
  }
  .load-data-form {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0 92px 0 0;
    width: 84%;
  }
  .data-file-input {
    font-size: 44px;
    height: 90px;
    padding: 0 0 0 24px;
  }
  .submit,
  .loading-spinner {
    font-size: 32px;
    height: 90px;
    width: 92px;
  }
  .loading-spinner-img {
    margin: 14px auto 0;
    width: 66px;
  }
  footer {
    padding: 0 0 50px;
  }
  footer a ~ footer a:before {
    content: "\2219";
    margin: 0 6px;
  }
  footer a {
    color: #666665;
  }
  footer a:hover {
    color: #232322;
  }
  .error .error-message {
    font-size: 24px;
    margin: 20px 10%;
    width: 80%;
  }
}
@media screen and (min-height: 400px) {
  .load-data-form {
    bottom: 50%;
    left: 0;
    margin-bottom: -30px;
    margin-top: 0;
    position: absolute;
  }
  footer {
    bottom: 0;
    left: 0;
    position: absolute;
  }
}
@media screen and (min-width: 800px) and (min-height: 400px) {
  .load-data-form {
    margin-bottom: -55px;
  }
}
.page-settings {
  left: 5px;
  position: fixed;
  top: 7px;
  z-index: 3;
}
.settings {
  background-color: white;
}
.dark .settings {
  background-color: black;
}
.settings-popover.popover {
  display: none;
  left: 4px;
  padding-bottom: 8px;
  top: 4px;
}
.open .settings {
  display: none;
}
.page-options {
  padding: 0 0 6px;
}
.open .settings-popover {
  display: block;
}
.data-source {
  border-top: 1px solid #f2f2f0;
  border-bottom: 1px solid #f2f2f0;
  margin: 8px 0 4px;
  padding: 4px 0 8px;
  position: relative;
}
.dark .data-source {
  border-top: 1px solid #333332;
  border-bottom: 1px solid #333332;
}
.data-url {
  font-size: 16px;
  padding: 8px;
}
.update-data-url {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: transparent;
  color: #666665;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 2px;
}
.update-data-url:hover {
  color: #232322;
  text-decoration: underline;
}
.dark .update-data-url {
  color: #b3b3b1;
}
.dark .update-data-url:hover {
  color: #dededc;
}
.page-options {
  padding: 0 0 12px;
}
.page-option-item {
  font-family: "source-sans-pro", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #b3b3b1;
  display: block;
  font-size: 16px;
  padding: 5px 0;
  text-decoration: none;
}
.page-option-item:hover {
  color: #666665;
}
.page-option-item .icon {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  height: 30px;
  margin: 0 2px -5px 0;
  opacity: 0.4;
  padding: 3px 0;
  vertical-align: bottom;
  width: 30px;
}
.page-option-item:hover .icon {
  opacity: 0.8;
}
.dark .page-option-item:hover {
  color: #f9f9f7;
}
.dark .page-option-item .icon {
  opacity: 0.6;
}
.dark .page-option-item:hover .icon {
  opacity: 1;
}
@media screen and (min-width: 800px) {
  .page-settings {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
  }
  .page-active .page-settings {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 1;
  }
}
.popover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: white;
  border: 1px solid #dededc;
  padding: 8px;
  position: absolute;
  width: 240px;
  z-index: 2;
}
.popover p {
  color: #b3b3b1;
  font-size: 14px;
  padding: 10px 8px 8px;
}
.dark .popover p {
  color: #666665;
}
.popover .arrow-bottom-right {
  bottom: -14px;
  clip: rect(0px 18px 18px -4px);
  margin: 0px -7px 0 0;
  right: 20px;
  position: absolute;
}
.popover .arrow-bottom-right:after {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  -moz-transform: rotate(45deg) translate(-6px, -6px);
  -o-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
  border: 1px solid #dededc;
  background-color: white;
  content: '';
  display: block;
  height: 14px;
  width: 14px;
}
.dark .popover .arrow-bottom-right:after,
.dark .popover {
  background-color: black;
  border: 1px solid #666665;
}
