{% load i18n static %}
{% load vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "SQL Explorer" %}{% if query %} - {{ query.title }}{% elif title %} - {{ title }}{% endif %}</title>

    {% block style %}
        {% vite_asset 'scss/styles.scss' %}
    {% endblock style %}

    <script type="text/javascript">
        csrfCookieName = "{% firstof csrf_cookie_name 'csrftoken' %}";
        csrfCookieHttpOnly = "{% firstof csrf_cookie_httponly False %}" === "True";
        clientRoute = "{{ request.resolver_match.url_name }}"
    </script>
</head>

<body>
{% if vite_dev_mode %}
    <div class="vite-not-running-canary" style="text-align:center;">
        <hr>
        <h1>Looks like Vite isn't running</h1>
        <h2>This is easy to fix, I promise!</h2>
        <div>You can run:</div>
            <pre>
npm run dev
            </pre>
        <div>Then refresh this page, and you'll get all of your styles, JS, and hot-reloading.</div>
        <div>If this is the first time you are running the project, then run:</div>
        <pre>
nvm install
nvm use
npm install
npm run dev
        </pre>
        <hr>
    </div>
{% endif %}

{% block sql_explorer_content_takeover %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <div class="container bd-gutter flex-wrap flex-lg-nowrap">
            <a class="navbar-brand{% if view_name == 'explorer_index' %} btn btn-outline-light text-white{% endif %}"
               href="{% url 'explorer_index' %}">{% trans "Explorer Home" %}</a>
            <ul class="nav nav-pills">
                {% if can_change %}
                    <li class="nav-item">
                        <a class="nav-link{% if not query and view_name == 'query_create' %} active{% endif %}"
                           href="{% url 'query_create' %}">{% trans "New Query" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if not query and view_name == 'explorer_playground' %} active{% endif %}"
                           href="{% url 'explorer_playground' %}"><i class="small me-1 bi-code-square"></i>{% trans "Playground" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link{% if not query and view_name == 'explorer_logs' %} active{% endif %}"
                       href="{% url 'explorer_logs' %}">{% trans "Logs" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if not query and view_name == 'query_favorites' %} active{% endif %}"
                       href="{% url 'query_favorites' %}"><i class="small me-1 bi-heart"></i>{% trans "Favorites" %}</a>
                </li>
            </ul>
        </div>
    </nav>
{% block sql_explorer_content %}{% endblock %}
{% endblock %}
{% block sql_explorer_footer %}
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary border-top pt-3">
                Powered by <a href="https://www.github.com/chrisclark/django-sql-explorer/">django-sql-explorer</a>. Rendered at {% now "SHORT_DATETIME_FORMAT" %}
            </p>
        </footer>
    </div>
{% endblock %}
{% block bottom_script %}
    {% vite_hmr_client %}
    {% vite_asset 'js/main.js' %}
{% endblock bottom_script %}
{% block sql_explorer_scripts %}{% endblock %}
</body>

</html>
