{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
    <title>Charted</title>

    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'explorer/charted.css' %}">
    <script src="//use.edgefonts.net/source-sans-pro:n2,n4,n9.js"></script>
    <script src="{% static 'explorer/lib/jquery.js' %}"></script>
    <script src="{% static 'explorer/lib/d3.js' %}"></script>
    <script src="{% static 'explorer/lib/lodash.compat.js' %}"></script>
    <script src="{% static 'explorer/Utils.js' %}"></script>
    <script src="{% static 'explorer/PageData.js' %}"></script>
    <script src="{% static 'explorer/ChartLegend.js' %}"></script>
    <script src="{% static 'explorer/ChartData.js' %}"></script>
    <script src="{% static 'explorer/Chart.js' %}"></script>
    <script src="{% static 'explorer/PageController.js' %}"></script>
    <script src="{% static 'explorer/charted.js' %}"></script>
    <script type="text/javascript">
        var dataUrl = "{{ dataUrl }}";
    </script>
  </head>

  <body class="pre-load">
    <h1 class="page-title">Charted</h1>
    <h2 class="page-subtitle">Beautiful, automatic charts</h2>


    <form class="load-data-form">
      <input type="text" class="data-file-input" name="dataUrl" placeholder="Paste the link to a .csv file or Google Spreadsheet">
      <button type="submit" class="submit">Go</button>
      <div class="loading-spinner"><img class="loading-spinner-img" src="{% static 'explorer/images/spinner.svg' %}"></div>
      <div class="error-message"></div>
    </form>

    <div class="charts"></div>

    <footer>
      <a href="https://github.com/mikesall/charted">GitHub</a>
    </footer>
  </body>
</html>
