{% if params %}
    <div class="mt-3 row">
        <label class="form-label">Params</label>
        {% for k, v in params.items %}
            <div class="col">
                <div class="form-floating">
                <input type="text" data-param="{{ k }}"
                       class="param form-control"
                       name="{{ k }}_param" id="{{ k }}_param"
                       value="{{ v.val }}" />
                <label for="{{ k }}_param">{{ v.label }}</label>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
