{% extends "explorer/base.html" %}

{% block navlinks %}
    {% if can_change %}
      <li><a href="../new/">New Query</a></li>
      <li class="active"><a href="#">Playground</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div id="query_area" class="col-md-12">
        <h2>Playground</h2>
        <p>The playground is for experimenting and writing ad-hoc queries. By default, nothing you do here will be saved.</p>
        <form role="form" action="../play/" method="post" id="editor">{% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endif %}
            <div class="panel panel-default" style="margin-top: 30px;" xmlns="http://www.w3.org/1999/html">
                <div class="panel-heading">
                    <span class="panel-title">SQL</span>
                </div>
                <div class="panel-content">
                    <textarea class="form-control" cols="40" id="id_sql" name="sql" rows="10">{{ query.sql }}</textarea>
                </div>
                <div class="panel-footer">
                    {% include 'explorer/params.html' %}
                </div>
            </div>
            <div class="form-group">
                <div style="text-align: center;">
                    <input type="submit" value="Refresh Preview" id="refresh_button" class="btn btn-default"/>
                    <input type="submit" value="Save As New Query" id="create_button" class="btn btn-default"/>
                    <input type="submit" value="Download CSV" id="download_button" class="btn btn-default"/>
                    <button type="button" class="btn btn-default" id="show_schema_button">Show Schema</button>
                    <button type="button" class="btn btn-default" style="display: none;" id="hide_schema_button">Hide Schema</button>
                </div>
            </div>
        </form>
    </div>
    <div id="schema" style="display: none;">
        <iframe src="" height="480px" frameBorder="0" id="schema_frame"></iframe>
    </div>
</div>
{% include 'explorer/preview_pane.html' %}

{% endblock %}

{% block scripts %}
    {% include 'explorer/preview_pane_scripts.html' %}
    {% include 'explorer/sql_editor_scripts.html' %}
    <script>
        $(function() {
            $("#refresh_button").click(function() {
                var params$ = $(this).closest("form").find(".param");
                if(params$.length) {
                    var o = new Object;
                    params$.each(function() {
                        o[this.id.replace("_param", "")] = $(this).val();
                    });
                    $(this).closest("form").attr('action', '../play/?params=' + JSON.stringify(o));
                }
            });
            $("#create_button").click(function() {
                $(this).closest("form").attr('action', '../new/');
            });
            $("#download_button").click(function() {
                $(this).closest("form").attr('action', '../csv');
            });
        });
    </script>
{% endblock %}


