{% extends "explorer/base.html" %}

{% block navlinks %}
    <li{% if not query %} class="active" {% endif %}><a href="../new/">New Query</a></li>
    <li><a href="../play/">Playground</a></li>
    {% if query %}<li class="active"><a href="">Query Detail</a></li>{% endif %}
{% endblock %}

{% block content %}
<h2 style="padding-bottom: 20px">{% firstof title "New Query" %}</h2>
{% if message %}
    <div class="alert alert-info">{{ message }}</div>
{% endif %}
<div>
    <form role="form" class="form-horizontal" action="../{% firstof query.id 'new' %}/" method="post">{% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
            {% if form.title.errors %}{% for error in form.title.errors %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endfor %}{% endif %}
            <label for="id_title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input class="form-control" id="id_title" maxlength="255" name="title" type="text" value="{{ form.title.value|default_if_none:"" }}" />
            </div>
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            <label for="id_title" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" cols="40" id="id_description" name="description" rows="2">{{ form.description.value|default_if_none:"" }}</textarea>
            </div>
        </div>
        <div class="form-group">
            {{ form.created_by.errors }}
            <label for="id_title" class="col-sm-2 control-label">Created By</label>
            <div class="col-sm-10">
                <input class="form-control" id="id_created_by" maxlength="255" name="created_by" type="text" value="{% firstof form.created_by.value request.user %}" />
            </div>
        </div>
        {% if form.sql.errors %}{% for error in form.sql.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}{% endif %}
        <div class="panel panel-default" style="margin-top: 30px;" xmlns="http://www.w3.org/1999/html">
            <div class="panel-heading">
                <span class="panel-title">SQL</span>
            </div>
            <div class="panel-content">
                <textarea class="form-control" cols="40" id="id_sql" name="sql" rows="10">{{ form.sql.value|default_if_none:"" }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div style="text-align: center;">
                <input type="submit" value="Save & Run" class="btn btn-default" />
                {% if query %}
                    <a class="btn btn-default" href="download">Download CSV</a>
                    <a class="btn btn-default" href="../play/?query_id={{ query.id }}">Edit in Playground</a>
                {%  endif %}
                <a class="btn btn-default" target="_blank" href="../schema/">Schema Reference</a>
            </div>
        </div>
    </form>
    {% include 'explorer/preview_pane.html' %}
</div>
{% endblock %}

{% block scripts %}
    {% include 'explorer/preview_pane_scripts.html' %}
    {% include 'explorer/sql_editor_scripts.html' %}
{% endblock %}


