{% extends "explorer/base.html" %}

{% block navlinks %}
    {% if can_change %}
      <li><a href="new/">New Query</a></li>
      <li><a href="play/">Playground</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Query</th>
                <th>Download CSV</th>
                {% if can_change %}
                    <th>Delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{{ object.id }}/">{{ object }}</a></td>
                <td style="padding: 2px 0px 0px 45px; vertical-align: middle">
                    <a href="{{ object.id }}/download"><i class="glyphicon glyphicon-download" style="font-size: 20px;"></i></a>
                </td>
                {% if can_change %}
                    <td style="padding: 0px 0px 0px 20px; vertical-align: middle">
                        <a href="{{ object.id }}/delete"><i class="glyphicon glyphicon-trash" style="font-size: 18px;"></i></a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
