{% extends "explorer/base.html" %}
{% load explorer_tags i18n %}

{% block sql_explorer_content %}
<script type="text/javascript">
    queryId = "{{ query.id }}";
</script>

<div class="container">
    <div id="query_area">
        {% if query %}
            {% query_favorite_button query.id is_favorite 'query_favorite_toggle query_favourite_detail'%}
        {% endif %}
        <h2>
            {% if query %}
                {{ query.title }}
            {% else %}
                {% trans "New Query" %}
            {% endif %}
        </h2>
        {% if shared %}<small>&nbsp;&nbsp;shared</small>{% endif %}
        {% if query %}
            <div class="text-end small fw-semibold">
                <a href="{% url 'explorer_logs' %}?query_id={{ query.id }}">
                    {% trans "History" %}
                </a>
            </div>
        {% endif %}
        {% if message %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}
        <div>
            {% if query %}
                <form action="{% url 'query_detail' query.id %}" method="post" id="editor">{% csrf_token %}
            {% else %}
                <form action="{% url 'query_create' %}" method="post" id="editor">{% csrf_token %}
            {% endif %}
            {% if error %}
                <div class="alert alert-danger">{{ error|escape }}</div>
            {% endif %}
            {{ form.non_field_errors }}
            <div class="mb-3">
                {% if form.title.errors %}{% for error in form.title.errors %}
                    <div class="alert alert-danger">{{ error|escape }}</div>
                {% endfor %}{% endif %}
                <label for="id_title" class="form-label">{% trans "Title" %}</label>
                <input class="form-control" id="id_title" maxlength="255" name="title" type="text" {% if not can_change %}disabled{% endif %} value="{{ form.title.value|default_if_none:"" }}" />
            </div>
            {% if form.connections|length > 1 and can_change %}
                <div class="mb-3">
                    <label for="id_connection" class="form-label">{% trans "Connection" %}</label>
                    {{ form.connection }}
                </div>
            {% else %}
                {# still need to submit the connection, just hide the UI element #}
                <div class="hidden">
                  {{ form.connection }}
                </div>
            {% endif %}
            <div class="mb-3">
                {% if form.description.errors %}
                    <div class="alert alert-danger">{{ form.description.errors }}</div>
                {% endif %}
                <label for="id_description" class="form-label">
                    {% trans "Description"%}
                </label>
                <textarea
                    id="id_description" class="form-control" cols="40" name="description"
                    {% if not can_change %}disabled{% endif %} rows="2"
                >{{ form.description.value|default_if_none:"" }}</textarea>
            </div>
            <input type="hidden" id="id_created_by_user" name="created_by_user" value="{{ form.created_by_user_email }}" />
            {% if form.sql.errors %}
                {% for error in form.sql.errors %}
                    <div class="alert alert-danger">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col">
                    <label for="id_sql" class="form-label">SQL</label>
                </div>
                {% if query %}
                    <div class="col text-end">
                        <small>
                            <a href="#" title="Open in playground" id="playground_button">
                                <i class="bi-window-plus"></i>
                            </a>
                        </small>
                        <small>
                            <i id="sql_toggle" class="bi-arrows-angle-expand"></i>
                        </small>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <textarea
                    class="form-control" {% if not can_change %} disabled {% endif %} cols="40" id="id_sql"
                    name="sql" rows="20">{{ form.sql.value|default_if_none:"" }}
                </textarea>
            </div>
            <div class="row">
                {% if params %}
                    {% include 'explorer/params.html' %}
                {% endif %}
            </div>

            <div class="mt-3 text-center">
                <div class="btn-group" role="group">
                    {% if can_change %}
                        <button id="save_button" type="submit"
                            class="btn btn-primary">
                            {% trans 'Save & Run' %}
                        </button>
                        {% export_buttons query %}
                        <button type="button" class="btn btn-outline-primary" id="show_schema_button">
                            {% trans "Show Schema" %}
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="hide_schema_button" style="display: none;">
                            {% trans "Hide Schema" %}
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="format_button">
                            {% trans "Format" %}
                        </button>
                    {% else %}
                        <button id="refresh_button" type="button" class="btn btn-default">{% trans 'Refresh' %}</button>
                        {% export_buttons query %}
                    {% endif %}
                </div>
            </div>
            </form>
        </div>
    </div>
    <div id="schema" style="display: none;">
        <iframe src="" height="828px" frameBorder="0" id="schema_frame"></iframe>
    </div>
</div>

{% include 'explorer/preview_pane.html' %}

<div class="row">
    {% if query and can_change and tasks_enabled %}
        <div class="col">
                {{ form.snapshot }} {% blocktrans %}Snapshot{% endblocktrans %}
        </div>
    {% endif %}
    <div class="col small">
        {% if query.avg_duration %}
            {% blocktrans trimmed with avg_duration=query.avg_duration user_email=form.created_by_user_email created=form.created_at_time %}
                Avg. execution: {{ avg_duration|floatformat:2 }}ms. Query created by {{ user_email }} on {{ created }}.
            {% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endblock %}
