<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.7.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.7.0/mode/sql/sql.min.js"></script>
<script>
    doCodeMirrorSubmit = function() {
        if ($("#save_button").length) {
            $("#save_button").click();
        }
        else {
            $("#refresh_button").click();
        }
    };
    var editor = CodeMirror.fromTextArea(document.getElementById('id_sql'), {
        mode: "text/x-sql",
        lineNumbers: 't',
        autofocus: true,
        extraKeys: {
            "Ctrl-Enter": doCodeMirrorSubmit,
            "Cmd-Enter": doCodeMirrorSubmit
        }
    });
</script>